[core]
	pager = delta
	ignoreCase = false

[color]
	ui = true

[user]
	name = Jonah Meijers
	email = jonahmeijers97@gmail.com

[commit]
	gpgsign = true

[init]
	defaultBranch = main

[pull]
	rebase = true

[rebase]
	autoStash = true

[status]
	showUntrackedFiles = no

[gpg]
	program = /opt/homebrew/bin/gpg

[interactive]
	diffFilter = delta --color-only

[delta]
  navigate = true
	light = false
	side-by-side = false
	line-numbers = true

[merge]
	conflictstyle = diff3

[diff]
	colorMoved = default

[github]
	user = jonahgoldwastaken

[includeIf "gitdir:~/work/**"]
	path = ~/work/.gitconfig

[includeIf "gitdir:~/personal/**"]
	path = ~/personal/.gitconfig

[includeIf "gitdir:~/.dotfiles/**"]
	path = ~/personal/.gitconfig

[push]
	autoSetupRemote = true
